@model List<CleanShirt.WareHouseSystem.ViewModels.OrderViewModel>
    

<div class="row">
    <div class="container">
        <div class="row col-md-10 col-md-offset-1 custyle">
            <table class="table table-striped custab">
                <thead>
                @*<a href="#" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new categories</a>*@
                <tr>
                    <th>ID</th>
                    <th>Customer Name</th>
                    <th>Total Price</th>
                    <th>Ordered Date</th>
                    <th class="text-center">Delivered</th>
                    <th>Action</th>
                    @* class="text-center" *@
                </tr>
                </thead>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Customer.FirstName @item.Customer.LastName</td>
                            <td>@item.TotalPrice SEK</td>
                            <td>@item.OrderedDate.Date.ToShortDateString()</td>
                            <td class="text-center">
                                @if (item.Sent == true)
                                {
                                    <span style="color: green" class="glyphicon glyphicon-ok"></span>
                                }
                                else
                                {
                                    <span style="color: red" class="glyphicon glyphicon-remove"></span>
                                }
                            </td>
                           
                            <td>
                                @if (item.Sent == false)
                                {
                                    <button class="btn btn-info btn-sm" onclick="openCheckList(@Json.Encode(item))">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                }
                                else
                                {
                                    <button class="btn btn-danger btn-sm" onclick="undoSent(@Json.Encode(item))">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>

