@model List<CleanShirt.WebShop.ViewModels.ProductViewModel>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>CleanShirt Webshop</h1>
    <p>Feel free to buy as much as you want!</p>
</div>

<div class="row">
    <h1>Products</h1>
    @foreach (var item in Model)
    {
        <p>Product Name</p>
        @item.Name
        <br />
        <p>Product Price</p>
        @item.Price
        <br />
        <p>In Storage: </p>
        @item.QuantityInStorage
        <label>pcs</label>
        <br />
        <img id="product-img" src="@Url.Content("~/Images/shirts/" + @item.ImageUrl)" />

        <br />

    }
</div>